<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/static/application.css}"
	href="/static/application.css" />
<title>List of books</title>
</head>
<body>
	<table class="tableBooks">
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>Authors</th>
			<th>Options</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.id}">id</td>
			<td th:text="${book.title}">title</td>
			<td th:text="${book.authors}">authors</td>
			<td>
				<form action="book-delete" method="get">
					<button type="submit" class="deleteBook" th:value="${book.id}" name="buttonDelete">Delete</button>
				</form>
			</td>
		</tr>
	</table>
</body>
</html>