<!DOCTYPE html>
<html>
<body>
	<section>
		<div flash-message="5000"></div>

		<div class="form-inline">
			<div class="textTitleBook">
				<h4>Enter name author:</h4>
			</div>
			<div class="input-group">
			<input type="text" class="form-control" ng-model="prefix" placeholder="Search for...">
   				 <span class="input-group-addon searchSpan">
       			 <span class="glyphicon glyphicon-search " aria-hidden="true"></span>
      		</span>
     		 </div>
		</div>
		<div class="table-responsive">
    	<table class="table table-bordered table-hover">
			<tr>
				<th>First name</th>
				<th>Last name</th>
			</tr>
			<tr ng-repeat="author in authors | filter: prefix | orderBy : 'lastName'">
				<td>{{ author.firstName }}</td>
				<td>{{ author.lastName }}</td>
			</tr>
		</table>
		</div>
	</section>
</body>
</html>

