<form>
	<div class="modal-header">
		<h3 class="modal-title">Add book</h3>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="text">Title :</label> 
			<input type="text" class="form-control" ng-model="title" placeholder="title book">		
		</div>
		<label for="text">Author</label>
		<div class="form-group"> 
			<label for="text">First name:</label> 
			<input type="text"  class="form-control" ng-model="firstName" placeholder="first name"> 
			<label for="text">Last name:</label> 
			<input type="text"  class="form-control" ng-model="lastName" placeholder="last name">
			
			 <pre>Model: {{selected | json}}</pre>
    		<input type="text" ng-model="selected" typeahead="first_name for state in author | filter:$viewValue | limitTo:8" class="form-control">
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="">Save</button>
		<button class="btn btn-danger" ng-click="$dismiss()">Close</button>
	</div>
</form>
