<!DOCTYPE html>
<html>
<body>
<section>
    <div flash-message="5000" ></div>

    <p class="getTitleBookText">Enter title book:</p>
    <input type="text" ng-model="prefix">
    <button ng-click="search()">Search</button>
    <button ng-click="addBook()">Add book</button>

    <table>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        <tr ng-repeat="book in books">
            <td>{{ book.title }}</td>
            <td>{{ book.authors }}</td>
            <td>
                <button ng-click="deleteBook(book.id)">Delete</button>
            </td>
             <td>
                <button ng-click="updateBook(book)">Edit</button>
            </td>
        </tr>
    </table>
</section>
</body>
</html>